main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  } header,
    footer {
    text-align: center;
  } footer {
    display: flex;
    justify-content: center;
  } section {
    display: grid;
    justify-items: center;
  }